<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <!-- New Order Section -->

                <h2>New Order</h2>
                <form (ngSubmit)="saveOrder()" class="mb-4">
                    <div class="row mb-3 mt-5">
                        <label for="orderId" class="col-md-2 col-form-label">
                            Order ID
                        </label>
                        <div class="col-md-4">
                          <input type="text" id="orderId" [(ngModel)]="newOrder.orderId" name="orderId" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="orderDate" class="col-md-2 col-form-label">
                            Order Date
                        </label>
                        <div class="col-md-4">
                          <input type="date" id="orderDate" [(ngModel)]="newOrder.orderDate" name="orderDate" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="customerName" class="col-md-2 col-form-label">
                            Customer Name
                        </label>
                        <div class="col-md-4">
                          <input type="text" id="customerName" [(ngModel)]="newOrder.customerName" name="customerName" class="form-control">

                        </div>
                    </div>
        <!-- Item Section -->
        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Items</h2>
                <mat-form-field appearance="fill" class="item-search">
                  <mat-label>Search and Select Items</mat-label>
                  <input matInput type="text" matInput [formControl]="itemControl" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem" (optionSelected)="onItemSelected($event)">
                    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
                      <div class="d-flex align-items-center">
                        <img [src]="getThumbnailUrl(item.thumbnail)" alt="{{ item.itemName }}" class="thumbnail-img" />
                        <span>{{ item.itemName }}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
                <table class="table">
                    <thead>
                        <tr>
                          <th>Image</th>
                            <th>Item Name </th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of newOrder.items; let i = index">
                        <td><img [src]="getThumbnailUrl(item.thumbnail)" class="img-thumbnail" height="50" width="50" alt="{{ item.thumbnail }}"></td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.unitPrice}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" name="quantity{{i}}" (input)="calculateAmount(item)" class="form-control bg-danger border-danger" style="width: 100px;"></td>
                        <td>{{item.amount}}</td>
                        <td>
                          <button type="button" (click)="removeItem(i)" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <!-- Total Amount -->
            <div class="mb-4 row">
                <div class="col-md-7"></div>
                <label class="col-md-2 col-form-label text-end">
                  Total Amount:
                </label>
                <div class="col-md-2">
                    <input type="text" [value]="calculateTotalAmount()" class="form-control" readonly />
                </div>
            </div>
            <!-- Save and Cancel Buttons -->
            <div class="mb-4 d-flex justify-content-center mt-4 ml-5">
                <button type="submit" class="btn btn-light me-2">Save</button>
                <button type="button"class="btn btn-dark ml-5" (click)="cancel()">Cancel</button>
            </div>
                </form>
        </div>
    </div>
</div>
