<div class="form-area">
  <div class="container">
    <div class="row g-2">
      <div class="col-lg-6">
        <figure class="figure">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).webp" class="figure-img img-fluid rounded" alt="...">
        </figure>
      </div>
      <div class="col-lg-6">
        <form action="">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Item name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Category</label>
            <select class="form-select" aria-label="select category">
              <option selected>Open this select menu</option>
              <option value="1">Electronics</option>
              <option value="2">Appliances</option>
              <option value="3">Cosmetics</option>
              <option value="4">Foods</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3 ">
            <button type="button" class="btn btn-primary me-2">Save</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


