<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <!-- Edit Order Section -->
                <h2>Edit Order</h2>
                <form (ngSubmit)="saveOrder()" class="mb-4">
                    <div class="row mb-3 mt-5">
                        <label for="orderId" class="col-md-2 col-form-label">
                            Order ID
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="orderId" [value]="orderId" hidden />
                            <input type="text" class="form-control" id="orderId" [value]="data.orderId" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="orderDate" class="col-md-2 col-form-label">
                            Order Date
                        </label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" id="orderDate" [value]="orderDate" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="customerName" class="col-md-2 col-form-label">
                            Customer Name
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="customerName" [value]="customerName" readonly />
                        </div>
                    </div>


            <!-- Item Section -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                  <h3>Edit Order - {{ data.orderId }}</h3>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Select Item
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li *ngFor="let item of availableItems">
                                <a class="dropdown-item" href="#" (click)="addItem($event,item._id)">{{ item.itemName }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table">
                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <!-- Table Body -->
                    <tbody>
                        <tr *ngFor="let item of items; let index = index">
                            <td>
                                <input type="text" class="form-control" [value]="item.itemName"
                                    readonly />
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="item.unitPrice"
                                    readonly />
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="item.quantity"
                                    (input)="handleInputChange(index, 'quantity', $event)" />
                            </td>
                            <td>
                                <input type="text" class="form-control" [value]="item.amount" readonly />
                            </td>
                            <td>
                              <button type="button" (click)="removeItem(index)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Total Amount -->
                <div class="mb-4 row">
                    <div class="col-md-7"></div>
                    <label class="col-md-2 col-form-label text-end">Total Amount:</label>
                    <div class="col-md-2">
                      <input type="text" [value]="calculateTotalAmount()" class="form-control" readonly />
                    </div>
                </div>
                <!-- Save and Cancel Buttons -->
                <div class="mb-4 d-flex justify-content-center mt-4 ml-5">
                    <button type="submit" class="btn btn-light me-2" >Save</button>
                    <button type="button"class="btn btn-dark ml-5" (click)="cancel()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>









